<section class="hero-bg">

  <div class="px-6 py-4">
    <div class="box p-5" style="min-height: calc(100dvh - 5rem); overflow: auto;">

      <!-- Section header -->
      <p class="has-text-grey mb-4">
        Download the official XCash-Labs wallets for your platform.
        All binaries are signed by the lead maintainer and should be verified before use.

        Tested on Ubuntu 22.04 and Windows 10/11.

        <a href="https://docs.xcashlabs.org/interacting/download-xcash-binaries/" target="_blank">
          View detailed install instructions →
        </a>
      </p>

      <!-- Section header -->
      <h2 class="title is-4 mb-1">xcash-gui</h2>
      <p class="has-text-grey is-size-7 mb-4">
        Version: <span class="has-text-weight-semibold">v0.18.4.3</span>
      </p>

      <div class="table is-fullwidth">


        <!-- CLI Wallet -->
        <div class="columns is-vcentered py-3" style="border-bottom: 1px solid #eee;">

          <div class="column">
            <div class="buttons are-small mb-2">
              <a class="button is-link" href="/downloads/xcash-gui-win-x64-v0.18.4.3.exe">
                Windows
              </a>

              <a class="button is-link" href="/downloads/xcash-gui-linux-x64-v0.18.4.3.tar.bz2">
                Linux
              </a>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey">
              Windows SHA-256:
              <span class="has-text-grey-dark">35cf9616e6f4a26442d6dd36de65b90b5c5120d6741adb280fd817175bd061cd</span>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey mt-1">
              Linux SHA-256:
              <span class="has-text-grey-dark">6bcf6dd434f7da57a5a905f6ffa1666798ec6f8d7e1344361156c70f407b34de</span>
            </div>
          </div>
        </div>

        <!-- Section header -->
        <h2 class="title is-4 mb-1">xcash-wallet-cli</h2>
        <p class="has-text-grey is-size-7 mb-4">
          Version: <span class="has-text-weight-semibold">v0.18.3.4</span>
        </p>

        <!-- CLI Wallet -->
        <div class="columns is-vcentered py-3" style="border-bottom: 1px solid #eee;">


          <div class="column">
            <div class="buttons are-small mb-2">
              <a class="button is-link" href="/downloads/xcash-cli-win-x64-v0.18.3.4.zip">
                Windows
              </a>

              <a class="button is-link" href="/downloads/xcash-cli-linux-x64-v0.18.3.4.tar.bz2">
                Linux
              </a>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey">
              Windows SHA-256:
              <span class="has-text-grey-dark">3325f70d53e991c8f1ca24c59d96fe5557a6e7277ab7b370e3e388ac7e9c54e4</span>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey mt-1">
              Linux SHA-256:
              <span class="has-text-grey-dark">f4e2e4d2acf896513cccd0f8676dd2e5e809c38023f8c72d2d25f15186894a7b</span>
            </div>
          </div>
        </div>

      </div>
    </div>