<section class="hero-bg">

  <div class="px-6 py-4">
    <div class="box p-5" style="min-height: calc(100dvh - 5rem); overflow: auto;">

      <!-- Section header -->
      <p class="has-text-grey mb-4">
        Download the official XCash-Labs wallets for your platform.
        All binaries are signed by the lead maintainer and should be verified before use.

        Tested on Ubuntu 22.04 and Windows 10/11.

        <a href="https://docs.xcashlabs.org/interacting/download-xcash-binaries/" target="_blank">
          View detailed install instructions →
        </a>
      </p>

      <!-- Section header -->
      <h2 class="title is-4 mb-1">xcash-gui</h2>
      <p class="has-text-grey is-size-7 mb-4">
        Version: <span class="has-text-weight-semibold">v0.18.4.3 - Updated on: 7/27/2026</span>
      </p>

      <div class="table is-fullwidth">


        <!-- Desktop Wallet -->
        <div class="columns is-vcentered py-3" style="border-bottom: 1px solid #eee;">

          <div class="column">
            <div class="buttons are-small mb-2">
              <a class="button is-link" href="/downloads/xcash-gui-win-x64-v0.18.4.3.exe">
                Windows
              </a>

              <a class="button is-link" href="/downloads/xcash-gui-linux-x64-v0.18.4.3.tar.bz2">
                Linux
              </a>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey">
              Windows SHA-256:
              <span class="has-text-grey-dark">323b1f33e46fadf7732f981007dbf1344c93e4b9a2512b7856ac198630eed052</span>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey mt-1">
              Linux SHA-256:
              <span class="has-text-grey-dark">3e74cff6d226fa1ac9d142cd2d5600bf8dfe08def213e3b306be3829fd34f59e</span>
            </div>
          </div>
        </div>

        <!-- Section header -->
        <h2 class="title is-4 mb-1">xcash-wallet-cli</h2>
        <p class="has-text-grey is-size-7 mb-4">
          Version: <span class="has-text-weight-semibold">v0.18.3.4 - updated on: 6/6/2026</span>
        </p>

        <!-- CLI Wallet -->
        <div class="columns is-vcentered py-3" style="border-bottom: 1px solid #eee;">

          <div class="column">
            <div class="buttons are-small mb-2">
              <a class="button is-link" href="/downloads/win-x64-v0.18.3.4-xck-beta1.zip">
                Windows
              </a>

              <a class="button is-link" href="/downloads/linux-x64-v0.18.3.4-xck-beta1.zip">
                Linux
              </a>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey">
              Windows SHA-256:
              <span class="has-text-grey-dark">f6ce122965ec7308f7776969c35facd8e68292457bb6332ba42b547d60a1ef16</span>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey mt-1">
              Linux SHA-256:
              <span class="has-text-grey-dark">14714861a6419f29f9ea77851a0f6019dcf55477f729c5864107d838b37ba0cc</span>
            </div>
          </div>
        </div>

        <!-- Section header -->
        <h2 class="title is-4 mb-1">xcashlabs-cake-wallet for Android</h2>
        <p class="has-text-grey is-size-7 mb-4">
          Version: <span class="has-text-weight-semibold">1.1.1 (Build 2) - Updated on: 7/23/26</span>
        </p>

        <!-- Android Wallet -->
        <div class="columns is-vcentered py-3" style="border-bottom: 1px solid #eee;">

          <div class="column">
            <div class="buttons are-small mb-2">
              <a class="button is-link" href="/downloads/app-arm64-v8a-release.apk">
                arm64-v8a
              </a>

              <a class="button is-link" href="/downloads/app-armeabi-v7a-release.apk">
                armeabi-v7a
              </a>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey">
              arm64-v8a SHA-256:
              <span class="has-text-grey-dark">20431828efc1f20461ff36605d611773ea7d5ade76ecc143ec2c90e3246f8ef2</span>
            </div>

            <div class="is-family-monospace is-size-7 has-text-grey mt-1">
              armeabi-v7a SHA-256:
              <span class="has-text-grey-dark">6c89da2688f9eb857a0ab30fc99a77ee909eb6cc65b12c637577b73fcc6e2475</span>
            </div>
          </div>
        </div>

      </div>
    </div>